.div
     {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
     section
     {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 80vh;
     }
     .fotos
     {
       width: 40%;
       margin: auto;
       margin-top: 30px;
     }
     .espacamento
     {
      margin-top: 30px;
     }